.meet {
    
}

.meet__text {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--color-text);
}

.grid__meet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.meet__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}